.app-container{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: royalblue;
    background-color: #f9f9f9;
}

.app-divider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
    color: coral;
}